* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #f8f8f8;
    color: #333;
    padding: 20px 50px 50px 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 10px 20px;
    background-color: #0056b3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #004080;
}

h1, h2 {
    color: #333;
}

.discipline-container {
    display: flex;
    align-items: center;
    padding: 0 50px 20px 50px;
    gap: 20px;
}

.discipline-name {
    flex: 1 1 10%;
    font-weight: bold;
}

table {
    flex: 4 1 90%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

ul {
    list-style-type: none;
    padding: 0;
}
