<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Olympics 2024</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
</head>
<body>
<header>
    <h1>Olympics 2024</h1>
</header>

<div class="sports-container">
    <div class="description">
        <h2>
            Paris 2024 Olympic Sports:
        </h2>
        <div>
            Check out games for your favourite sports here
        </div>
    </div>
    <ul class="sports-list">
        <li th:each="sport : ${sports}">
            <a th:href="@{/matches/{id}(id=${sport.id})}">
                <span th:text="${sport.name}"></span>
            </a>
        </li>
    </ul>
</div>

</body>
</html>
