<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Olympics 2024</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
</head>
<body>
<header>
    <h1 th:text="#{home.header}"/>
    <th:block th:if="${#authorization.expression('hasRole(''USER'')')}">
        <a href="/olympics2024/tickets" class="btn" th:text="#{home.ticketbutton}"/>
    </th:block>
</header>

<div class="sports-container">
    <div class="description">
        <h2 th:text="#{home.descriptiontitle}"/>
        <div th:text="#{home.description}"/>
    </div>
    <ul class="sports-list">
        <li th:each="sport : ${sports}">
            <a th:href="@{olympics2024/sports/{name}(name=${#strings.toLowerCase(sport.name)})}">
                <span th:text="${sport.name}" /> (<span th:text="${#lists.size(sport.games)}"/> <span th:text="#{home.games}" />)
            </a>
        </li>
    </ul>
</div>

</body>
</html>