<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Sport Details</title>
    <link rel="stylesheet" type="text/css" href="/css/sportdetail.css">
</head>
<body>

<header>
    <a href="/olympics2024" class="btn" th:text="#{sport.home}"></a>
    <th:block th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <a th:href="@{'/olympics2024/sports/' + ${#strings.toLowerCase(sport.name)} + '/games/create'}" class="btn" th:text="'+ ' + #{sport.addgame}"></a>
    </th:block>
</header>

<div class="message" th:if="${success}" th:text="${success}"></div>
<div class="discipline-container">
    <table>
        <thead>
        <tr>
            <th th:text="#{sport.discipline}" />
            <th th:text="#{sport.date}" />
            <th th:text="#{sport.location}" />
            <th th:text="#{sport.seats}" />
            <th th:text="#{sport.price}" />
            <th th:if="${#authorization.expression('hasRole(''USER'')')}" th:text="#{sport.tickets}" />
        </tr>
        </thead>
        <tbody th:if="${not #lists.isEmpty(sport.games)}">
        <tr th:each="game : ${sport.games}">
            <td>
                <ul>
                    <li th:each="discipline : ${game.disciplines}">
                        <span th:text="'⮕ ' + ${discipline.name} + ' (' + (${discipline.gender} ? 'Men' : 'Women') + ')'" />
                    </li>
                </ul>
            </td>
            <td class="center" th:text="${#temporals.format(game.date, #messages.msg('date.format.pattern'))}" />
            <td class="center" th:text="${game.stadium.name}" />
            <td class="center" th:text="${game.remainingSeats} + '/' + ${game.stadium.capacity}" />
            <td class="center" th:if="${#authorization.expression('hasRole(''ADMIN'')') or (#authorization.expression('hasRole(''USER'')') and game.remainingSeats > 0)}" th:text="'€' + ${#numbers.formatDecimal(game.ticketPrice, 0, 'DEFAULT', 2, 'POINT')}" />
            <td class="center" th:if="${#authorization.expression('hasRole(''USER'')') and game.remainingSeats <= 0}" th:text="'-'" />
            <td class="center" th:if="${#authorization.expression('hasRole(''USER'')')}">
                <span th:text="${__${'count_' + game.id}__}"></span>
                <th:block th:if="${game.remainingSeats > 0}">
                    <a th:href="@{'/olympics2024/sports/' + ${#strings.toLowerCase(sport.name)} + '/games/' + ${game.id} + '/buy'}" class="ticket-btn" th:text="#{sport.buy}"></a>
                </th:block>
            </td>
        </tr>
        </tbody>
        <tbody th:if="${#lists.isEmpty(sport.games)}">
        <tr>
            <td colspan="6" class="center" th:text="#{sport.nogames}"/>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
